$first-color: red;
$second-color: blue;
$thirst-color: green;

@mixin format {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr) 2fr repeat(4, 1fr);
    height: 15vh;
    gap:1rem;
    margin-bottom: 1rem;
    color: grey;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin grading($color) {
    .box:nth-child(1){
        background-color: darken($color, 40%);
    } 
    .box:nth-child(2){
        background-color: darken($color, 30%);
    } 
    .box:nth-child(3){
        background-color: darken($color, 20%);
    } 
    .box:nth-child(4){
        background-color: darken($color, 10%);
    }
    .box:nth-child(5){
        background-color: $color;
        color:white;
    }
    .box:nth-child(6){
        background-color: lighten($color, 10%);
    } 
    .box:nth-child(7){
        background-color: lighten($color, 20%);
    } 
    .box:nth-child(8){
        background-color: lighten($color, 30%);
    } 
    .box:nth-child(9){
        background-color: lighten($color, 40%);
    }
}

.box {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}   

.container-1 {
   @include format();
   @include grading($first-color);

}

.container-2 {
    @include format();
    @include grading($second-color);
}

.container-3 {
    @include format();
    @include grading($thirst-color);
}